<ng-container *ngIf="users.length > 0">
    <p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{ user.user_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.user_type }}</td>
                <td class="flex gap-2" *ngIf="user.user_type == 'user'">
                    <p-button label="Make Admin" (onClick)="confirmationDialog(user, 'update', user.user_type)"></p-button>
                    <p-button icon="pi pi-trash" (onClick)="confirmationDialog(user, 'delete', user.user_type)"></p-button>
                </td>
                <td class="flex gap-2" *ngIf="user.user_type == 'admin'">
                    <p-button label="Make User" (onClick)="confirmationDialog(user, 'update', user.user_type)"></p-button>
                    <p-button icon="pi pi-trash" (onClick)="confirmationDialog(user, 'delete', user.user_type)"></p-button>
                </td>
                <td *ngIf="user.user_type == 'su'">
                    No Action
                </td>
            </tr>
        </ng-template>
    </p-table>
</ng-container>

<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>