/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "../src/variables";


* {
    padding: 0;
    margin: 0;
    font-family: Crimson Pro;
    font-size: 16px;
}

.p-card .p-card-body,
.p-card .p-card-content,
.p-card .p-card-footer,
.p-listbox .p-listbox-list {
    padding: 0 !important;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    label {
        font-weight: bold;
    }

    .inputbox {
        width: 320px;
        height: 38px;
        padding-left: 8px;
    }

    .error-message {
        display: flex;
        align-items: center;
        color: $primary-color;
    }
}

.individual-error {
    display: flex;
    align-items: center;
    gap: 6px;
}

::ng-deep .p-overlaypanel:after, .p-overlaypanel:before {
    content: none !important;
}