
@import '../../../variables';

::ng-deep .custom-menubar {
    width: 100%;
    height: 60px;
    background: #CF2E2E;
    position: sticky;
    z-index: 1;
}

.menu-list {
    display: flex;
    align-items: center;
}

.menu-list__item {
    margin-right: 24px;
    color: $white;
    cursor: pointer;

    &:hover, &:focus {
        transform: scale(1.15);
    }
}

.username {
    margin-right: 24px;
    color: $white;
    cursor: pointer;
}

::ng-deep .p-dialog {
    top: 60px;
}