@import '../../../variables';

.login-logo {
    background: url(../../../assets/clark-seal-zoomed-bg.png) no-repeat fixed;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 65%;
    min-height: 100%;
}

.login-button {
    background: $secondary-color;
    color: $white;
    width: 100px;
    height: 36px;
}

.login-container {
    position: fixed;
    left: 70%;
    top: 20%;

    .login-card-label {
        display: flex;
        align-items: center;

        .login-clark-label {
            font-family: Crimson Text;
            font-size: 64px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
        }

        .login-university-label {
            font-family: Crimson Text;
            font-size: 36px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
            display: block;
        }

        .login-card-logo {
            width: 90px;
            height: 90px;
            margin-left: 10px;
        }
    }

    .login-form {
        margin-top: 50px;
    }

    .form-field {
        margin-bottom: 30px;

        .inputbox {
            width: 320px;
            height: 38px;
            padding-left: 8px;
        }

        .error-message {
            display: flex;
            align-items: center;
            margin-top: 10px;
            color: $primary-color;
        }
    }

}