<div class="card mt-5">
    <p-dataView #dv [value]="getAcronyms()" [rows]="2" [paginator]="true">
        <ng-template let-acronym pTemplate="listItem">
            <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4" style="width: 550px;">
                <div class="flex flex-column sm:flex-row justify-content-between align-items-between xl:align-items-start flex-1 gap-4" style="width: 100%">
                    <div class="flex flex-column align-items-center sm:align-items-start gap-2" style="width: 100%">
                        <div class="fullName font-bold">{{ acronym.full_form }}</div>
                        <div class="flex flex-column gap-2">
                            <span class="flex align-items-center gap-1">
                                <span class="text-sm description">{{ acronym.description }}</span>
                            </span>
                            <span class="flex align-items-center gap-1">
                                <i class="pi pi-map-marker"></i>
                                <span class="text-sm">{{ acronym.location }}</span>
                            </span>
                            <span class="flex align-items-center gap-1">
                                <i class="pi pi-phone"></i>
                                <span class="text-sm">{{ acronym.phone_number }}</span>
                            </span>
                            <span class="flex align-items-center gap-1">
                                <i class="pi pi-envelope"></i>
                                <a class="website-link" href="mailto:{{acronym.email}}">
                                    <span class="text-sm email">{{ acronym.email }}</span>
                                </a>
                            </span>
                            <span class="flex align-items-center gap-1">
                                <img class="logo-seal" src="../../../assets/logo-seal-only.svg">
                                <a class="website-link" [href]="acronym.website" target="_blank">
                                    <span class="text-sm">{{ acronym.website }}</span>
                                    <i class="pi pi-external-link"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="flex gap-2" *ngIf="authService.isLoggedIn && (userRole == 'admin' || userRole == 'su')">
                        <p-button icon="pi pi-pencil" (onClick)="show(acronym)"></p-button>
                        <p-button icon="pi pi-trash" (onClick)="ConfirmationDialog(acronym)"></p-button>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="empty">
            <div class="flex align-items-center justify-content-center flex-column gap-3" style="height: 200px;">
                <img class="no_results" src="../../../assets/empty_results.svg"/>
                <p><strong>No Data found.</strong></p>
            </div>
        </ng-template>
    </p-dataView>
</div>

<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>